#menu
{
    display: flex;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #5b5b34;
}



#container .principal
{
    float: left;
    color: #fff;
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#container a:hover
{
    font-size: larger;
    font-weight: bold;
    background-color: #ff7500;
}
#container a.last
{
    border-right: 0px;
}

#date
{
    line-height: 38px;
    color: #bdbda2;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -1px;
    float: right;
}

@media screen and (max-width:1000px){
#container, #container .principal{
    width: 100%;
    border-right: 0px;
}
}